### Conversion of images to train_labels.csv and trai_labels.csv

In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [5]:
kvasir_labels = pd.read_csv('D:/Shreya_docs/kdata/kvasir_labels.csv')

In [6]:
kvasir_labels.head()

             filename  width  height        class  xmin  ymin  xmax  ymax
0    esophagitis1.jpg   1280    1024  esophagitis   333   622   612   834
1   esophagitis10.jpg   1280    1024  esophagitis   800   125  1153   383
2  esophagitis100.jpg   1280    1024  esophagitis   384   571   787   866
3  esophagitis101.jpg   1280    1024  esophagitis   923   188  1224   478
4  esophagitis102.jpg   1280    1024  esophagitis   740   203  1114   522

In [7]:
grouped = kvasir_labels.groupby('filename')

In [8]:
grouped.apply(lambda x: len(x)).value_counts()

1    900
dtype: int64

In [9]:
gb = kvasir_labels.groupby('filename')

In [10]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [11]:
len(grouped_list)

900


# Splitting this file into two parts - test (20%) and train (80%)

In [14]:
train_index = np.random.choice(len(grouped_list), size=720, replace=False)
test_index = np.setdiff1d(list(range(900)), train_index)

In [15]:
len(train_index), len(test_index)

(720, 180)

In [16]:
# take first 900 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [17]:
len(train), len(test)

(720, 180)

In [18]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)

In [19]:
train_df = pd.read_csv('train_labels.csv')

In [20]:
test_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,esophagitis83.jpg,1280,1024,esophagitis,418,203,771,537
1,esophagitis70.jpg,1280,1024,esophagitis,753,255,1086,610
2,uc243.jpg,720,576,ulcerative colitis,261,58,460,204
3,polyps130.jpg,720,576,polyps,237,269,523,551
4,esophagitis74.jpg,1280,1024,esophagitis,468,553,781,922

In [21]:
ch = test_df.groupby('class')

In [22]:
ch_list = [ch.get_group(x) for x in ch.groups]

In [23]:
len(ch_list)

3